<% if signed_in? %>

  <div class='row'>
    <aside class='span3'>
      <section>
        <%= render 'shared/user_info', user: current_user %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class='span9'>
      <h3>Microposts Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>

  <div class='hero-unit center'>
    <h1>
      Welcome Lorem Ipsum
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-large btn-primary' %>
    </p>
  </div>

  <div class='row'>
    <div class='span6'>
      <h3>Headline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class='span6'>
      <h3>Headline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>

<% end %>
