<li>
  <div class='user-avatar-tn'>
    <%= gravatar_for user, size: 50 %>
  </div>
  <%= link_to user.name, user %>

  <% if current_user.admin? && !current_user?(user) %>
    <p class='list__item--delete'>
      <%= link_to 'delete', user, method: :delete, data: { confirm: 'Delete this user?' } %>
    </p>
  <% end %>
</li>
