<% provide :title, 'Sign up' %>

<div class='page-header'>
  <h1>Sign up</h1>
</div>

<div class="row">
  <div class="span6 offset3">

    <%= render 'form', btn_text: 'Create my account' %>

  </div>
</div>
