<h4>New micropost</h4>

<%= form_for @micropost, html: { class: 'micropost-form' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.text_area :content, maxlength: 140, placeholder: 'Compose new micropost…' %>
  </div>

  <%= f.submit 'Post', class: 'btn btn-block btn-primary' %>
<% end %>
