<section>
  <ul class='stats'>
    <li>
      <%= link_to following_user_path(user) do %>
        <strong id='following' class='stat'>
          <%= user.followed_users.count %>
        </strong>
        following
      <% end %>
    </li>
    <li>
      <%= link_to followers_user_path(user) do %>
        <strong id='followers' class='stat'>
          <%= user.followers.count %>
        </strong>
        followers
      <% end %>
    </li>
  </ul>
</section>
