<div class='row'>
  <div class='span12'>

    <div class='page-header'>
      <h1>Public Stream</h1>
    </div>

    <ol class='microposts'>
      <%= render @microposts %>
    </ol>

    <div id='infinite-scrolling'>
      <%= will_paginate %>
    </div>

  </div>
</div>
