/* Microposts */

$micropost-item-padding-v: 25px;
$micropost-item-padding-h: 5px;
$micropost-item-content-wrapper-padding-top: 5px;

.microposts {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.microposts__item--content-wrapper {
  margin-left: 95px;
  padding-top: $micropost-item-content-wrapper-padding-top;
}

.microposts__item {
  @include clearfix;
  position: relative;
  padding: $micropost-item-padding-v $micropost-item-padding-h;
  border-top: 1px solid #eee;
  &:first-child {
    border: none;
  }
}

.microposts__item--user {
  margin: 0;
}

.microposts__item--meta {
  position: absolute;
  top: $micropost-item-padding-v + $micropost-item-content-wrapper-padding-top;
  right: $micropost-item-padding-h;
  color: $grayLight;
  font-size: 13px;
  text-align: right;
}


/* Pagination */

.pagination {
  @extend .pagination-centered;
}
