/* sidebar */

aside {
  section {
    border-top: 1px solid $grayLighter;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
  }
}

.user-avatar {
  margin: 0 0 10px 0;
  background: #eee;
  text-align: center;
}

.user-stats {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  a {
    @include box-sizing(border-box);
    display: block;
    width: (100%/3);
    float: left;
    border-left: 1px solid $grayLighter;
    padding: 10px 8px;
    font-size: 11px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  li:first-child a {
    border-left: none;
  }
  strong {
    display: block;
    font-size: 18px;
  }
}
